<footer  class="text-center text-lg-start navbar-expand-lg bg-light text-muted">
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">

  <section style="color: black;" class="">
    <div class="container text-center text-md-start mt-5">
    
      <div class="row mt-3">
     
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
        
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fa fa-user me-3"></i>My Teacher Academy
          </h6>
          <p>
              Discover limitless learning opportunities at our Online Course Center. 
              Explore diverse courses led by industry experts,
              tailored for all skill levels. Join us to unlock your potential today!
          </p>
        </div>
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            Useful links
          </h6>
          <p>
            <a routerLink="/choocegrade" class="text-reset">Grades</a>
          </p>
          <!-- <p>
            <a href="#!" class="text-reset">ins</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Orders</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Help</a>
          </p> -->
        </div>
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fas fa-home me-3"></i> Giza,Egypt</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
          </p>
          <p><i class="fas fa-phone me-3"></i> + 01 210 032 641</p>
          <p><i class="fas fa-print me-3"></i> + 01 023 756 768</p>
        </div>
      </div>
    </div>
  </section>
</section>
<div class="text-center p-4" style="background-color: #55b02baf; color: black;">
  <p>© 2024 Copyright: <a style="text-decoration-line: none;" class="fw-bold" href="https://mdbootstrap.com/">Course Center Academy</a></p>
</div>
</footer>

