<header>
  <h1>About Us</h1>
</header>
<main>
  <section id="mission">
    <h2>Our Mission</h2>
    <p class="mt-4">My teacher website offers a variety of courses for middle school students. It also provides a group
      of benefits that the student gets when he participates in any course on the website.
    </p>
  </section>
  <section id="Features" class="mt-4">
    <h2>Features</h2>
    <div>
      <h3 class="super-beauty-button">Providing various Subjects for middle school students
      </h3>
      <h3 class="super-beauty-button">Watch videos live with the teacher
      </h3>
      <h3 class="super-beauty-button">There are a number of Quizzes for each group and displaying the student’s degree
        in each quiz
      </h3>
    </div>
    <div>
      <h3 class="super-beauty-button">The Teacher can create a number of Quizzes for his group
      </h3>
      <h3 class="super-beauty-button">The Teacher can create the academic year (Grad) as well as create study materials
        for each Grad
      </h3>
      <h3 class="super-beauty-button">The Teacher can create a group for each subject
      </h3>
    </div>
  </section>
  <section id="team" class="mt-4">
    <h2>Our Team</h2>
    <div class="team">
      <div class="box">
        <h3>Hassan Adel
        </h3>
        <p>
          Full Stack .Net
        </p>
      </div>
      <div class="box">
        <h3>
          Ibrahem Salah
        </h3>
        <p>Full Stack .Net</p>
      </div>
      <div class="box">
        <h3>Fatma Mohamed
        </h3>
        <p>Full Stack .Net</p>
      </div>
      <div class="box">
        <h3>Ahmed Hossam
        </h3>
        <p>Full Stack .Net</p>
      </div>
      <div class="box">
        <h3>Mohamed Ahmed</h3>
        <p>Full Stack .Net</p>
      </div>
    </div>

  </section>
</main>