<body style="background-image: url('assets/images/shape.jpg');">
<div class="center-container">
    <div class="card">
      <div class="card-header">
        Group Details
      </div>
      <div class="card-body">
        <p><strong>Group Name:</strong> {{ group.groupName }}</p>
        <p><strong>Number of Students:</strong> {{ group.num_Students }}</p>
        <p><strong>End Date:</strong> {{ group.end_Date }}</p>
        <p><strong>Price:</strong> {{ group.price }}</p>
      </div>
    </div>
  
    <div id="paypal-button-container" class="paypal-container"></div>
  </div>
</body>