

<div class="container ">
  <h2 style="border: 1px solid black; height: 60px;  background-color: #333;
  color: white; text-align: center;">
    Exam Information</h2>
  <div class="form-group">
    <label for="examName">
      <h5>Exam Name:</h5>
    </label>
    <input #examname="ngModel" type="text" class="form-control" id="examName" [(ngModel)]="exam.name"
      placeholder="Enter exam name"  required>
    <span style="color: red;" *ngIf="examname.invalid">Exam Name required !</span>

    <span style="color: red;" *ngIf="!isValidExamName(exam.name) && (examname.dirty || examname.touched)">
      Exam Name must contain letters and should not be only digits
    </span>
  </div>

  <hr class="my-4 w-75">
  <h5>Group :</h5>

  <input #examname type="text" class="form-control" value="{{group.groupName}}" readonly>

  <br><br>



  <br>
  <hr>
  <br>

  <h2 style="border: 1px solid black; height:60px; width: 300px; text-align: center;   background-color: #333;
  color: white;">Exam Questions</h2>
  <div class="row">
    <div class="col-md-6">
      <div class="question-form">
        <div *ngFor="let question of exam.questions; let questionIndex = index" class="question-container">
          <label>Question {{ questionIndex + 1 }}:</label><br>
          <input #questionText="ngModel" type="text" [(ngModel)]="question.question" style="margin:10px;"
            placeholder="Enter your question here" required>
          <span style="color: red;" *ngIf="questionText.invalid">Question Text required !</span>
          <span style="color: red;" *ngIf="!isValidQuestion(question.question) && (questionText.dirty || questionText.touched)">
            Question must be letters not be only digits
          </span>
          <span style="color: red;" *ngIf="!isValidoptions(question.options) && (questionText.dirty || questionText.touched)">
            Question must has at least 2 options
          </span>
          
          <br>

          <div class="option-container" *ngFor="let option of question.options; let optionIndex = index">
            <div class="form-check">
              <input class="form-check-input" type="radio" (click)="CheckOption(questionIndex , optionIndex)"
                name="{{questionIndex}}" required>
              <input #optionText="ngModel" type="text" [(ngModel)]="option.option"
                placeholder="Enter option {{ optionIndex + 1 }}" required>

              <button class="btn btn-sm btn-danger" style="margin-left:10px;"
                (click)="deleteOption(questionIndex, optionIndex)">Delete
                Option</button>
              <p style="color: red;" *ngIf="optionText.invalid">Option Text required !</p>
            </div>

          </div>
          <button class="btn btn-sm btn-primary" style="margin-right:10px;" (click)="addOption(questionIndex)">Add
            Option</button>
          <button class="btn btn-sm btn-danger" (click)="deleteQuestion(questionIndex)">Delete Question</button>
        </div>
        <button class="btn btn-primary" style="margin-top:10px;" (click)="addQuestion()">Add Question</button>
        
        <p style="color: red;" *ngIf="checkone()">Check Option required !</p>

        <hr>

        Total Questions: {{ getTotalQuestions() }}

      </div>
    </div>
    <div class="col-md-6">
      <div class="question-preview">
        <h2 s style="border: 1px solid black; width: 400px;  
        background-color: #333; height:60px;
       color: white; text-align: center;">Questions Preview</h2>
        <div *ngFor="let question of exam.questions" class="question-preview-item">
          <h4>{{ question.question }}</h4>
          <ul>
            <li *ngFor="let option of question.options">{{ option.option }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  

  <p style="color: red;" *ngIf="exam.questions.length<2">must enter 2 Questions required to create exam !</p>

  <input class="form-check-input me-3" type="checkbox" [(ngModel)]="exam.quiz_Available" name="Quiz_Available" required>
  <label>Quiz Available</label>
  <br>

  <button class="btn btn-success" style="margin-top:20px" (click)="saveExam(examname.value)">Save Exam</button>

  <!-- <div *ngIf="examSaved" class="alert alert-success mt-3" role="alert">
    Exam saved successfully!
  </div> -->


</div>