#container
{
    background-color: rgb(248, 247, 247);

}

/* Satrt Main Content */
.main-container {
  display: flex;
  justify-content: space-between;
}
.main-content {
  margin-right: 50%;
}
/* End Main Content */
/* staert rate */
.cont {
  width: 93%;
  max-width: 350px;
  text-align: center;
  margin: 4% auto;
  padding: 30px 0;
  background: #6b4c13;
  color: #EEE;
  border-radius: 5px;
  border: thin solid #444;
  overflow: hidden;
}

div.stars {
  width: 270px;
  display: inline-block;
}

.feddbackBtn {
  border-radius: 20px;
  color: #EEE;
  background-color: #837b7b;
  padding: 10px;
}
.feddbackInput {
  border-radius: 10px;
  padding: 10px;
}
/* End rate */
