#container {
    margin: 0 auto;
    padding: 20px;
    max-width: 600px;
  }
  
  #header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  #header h1 {
    font-size: 24px;
    font-weight: bold;
  }
  
  #body {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #55b02baf;
    border-radius: 5px;
  }
  
  .btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #55b02baf;
    color: #fff;
  }
  
  .btn:hover {
    background-color: #c82333;
  }
  
  .form-text {
    font-size: 14px;
  }
  
  .text-danger {
    color: #dc3545;
  }
  
  .mt-4 {
    margin-top: 20px;
  }
  
  .mb-3 {
    margin-bottom: 15px;
  }
  
  .w-75 {
    width: 75%;
  }
  
  .text-center {
    text-align: center;
  }
  
  .btn-danger {
    background-color: #55b02baf;
    color: #fff;
  }
  
  .btn-danger:hover {
    background-color: #c82333;
  }
  